@font-family: "Helvetica", Arial, sans-serif;
@section-border: 1px solid #ddd;

@light-bkgrnd: #fff;
@md-bkgrnd: #f0f0f0;
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
// .col:first-child { margin-left: 0; }

// /*  GROUPING  */
// .group:before,
// .group:after { content:""; display:table; }
// .group:after { clear:both;}
// .group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.col_12{width: 100%;}
.col_11{width: 91.53%;}
.col_10{width: 83.06%;}
.col_9{width: 74.6%;}
.col_8{width: 66.13%;}
.col_7{width: 57.66%;}
.col_6{width: 49.2%;}
.col_5{width: 40.73%;}
.col_4{width: 32.26%;}
.col_3{width: 23.8%;}
.col_2{width: 15.33%;}
.col_1{width: 6.866%;}

body{
	background: @md-bkgrnd;
	color: #5b5b5b;
	font-family: @font-family;
}
ul{list-style: none;}
div{display: block;}
a{text-decoration: none;}

.uppercase{text-transform: uppercase;}
.container{padding-top: 150px;}
.outer-container{margin: auto;}
.header-container{margin: 0 5%;}
.top-btn{
	margin-top: 400px;
  position: fixed;
  right: 0px;
  background-color: rgba(95, 108, 118, .7);
  height: 32px;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid rgba(95, 108, 118, .7);
  text-align: center;
  line-height: 35px;
  font-size: 1em;
	padding:1%;
	a:link {
    color: #fff;
		font-weight: 100;
	}
	a:visited {
    color: #fff;
		font-weight: 100;
	}
}
.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}
.new_price{
	color:#ca0000;
	font-weight: bold;
	line-height: .5em;
}
.old_price{
	text-decoration: line-through;
	line-height: .1em;
}
header {
	position: fixed;
	width: 100%;
	margin: auto;
	height: 150px;
	background-color: @light-bkgrnd;
	border-bottom: @section-border;
	.header-content{
		border-bottom: @section-border;
		nav {
			img{margin: 5%;}
			.main-nav {
			  float: right;
			  border-radius: 4px;
			  margin-top: 8px;
				padding:0;
				a {
					color: #5b5b5b;
					display: block;
					padding: 10px 30px;
					text-decoration: none;
				}
				li {
			    float: left;
					&:hover{
						a{color: #f57b20;}
					}
			  }
			}
		}
	}
}//Header

//Dropdown Navigation
.dropdown-nav{
	background: rgba(95, 108, 118, 1);
	margin: 0;
	position: fixed;
}
.drop-nav{
	display: none;
	text-decoration: none;
	text-align: center;
	margin: 0;
	padding: 0;
	li{
		padding: 2% 0;
		border-bottom: 1px solid #ccc;
	}
	a{color: #ccc;}
}

//Search field & button
form{ margin: -1% 0;}
input{line-height: 2em;}
.input{
	float:left;
	width:70%;
}
.search-btn{
	float: left;
	width: 30%;
}
.search-field {
  font-family: "Helvetica";
  color: rgb(255, 255, 255);
  text-align: left;
	width: 100%;
}
.search_button {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  background-color: rgb(95, 108, 118);
  width: 150px;
  height: 100%;
	color: #fff;
	margin-left: -6px;
}

//Product Area
section{
	.prod-wrapper{
		background: @light-bkgrnd;
		margin: 15px;
		padding: 3%;
	}
	.product_button {
	  border: 1px solid rgb(213, 91, 0);
	  border-radius: 5px;
	  background-image: -moz-linear-gradient( 90deg, rgb(245,105,0) 0%, rgb(255,143,59) 100%);
	  background-image: -webkit-linear-gradient( 90deg, rgb(245,105,0) 0%, rgb(255,143,59) 100%);
	  background-image: -ms-linear-gradient( 90deg, rgb(245,105,0) 0%, rgb(255,143,59) 100%);
		color: #fff;
	  width: 100%;
	  height: 58px;
	}
	.view_more_button {
	  border: 2px solid rgb(77, 87, 95);
	  border-radius: 5px;
	  background-image: -moz-linear-gradient( 90deg, rgb(95,108,118) 0%, rgb(130,147,161) 100%);
	  background-image: -webkit-linear-gradient( 90deg, rgb(95,108,118) 0%, rgb(130,147,161) 100%);
	  background-image: -ms-linear-gradient( 90deg, rgb(95,108,118) 0%, rgb(130,147,161) 100%);
	  box-shadow: 0px 2px 2px 0px rgba(2, 3, 3, 0.4);
		color: #fff;
		font-size: 1.5em;
		width: 50%;
	  height: 72px;
		margin: 2% 25%;
	}
}

footer{
	clear: both;
	border-top: @section-border;
	padding: 3% 0;
	text-align: center;
	background: @light-bkgrnd;
	.copyright, .privacy{
		font-size: 20px;
	  // font-family: "Helvetica";
	  color: rgb(102, 102, 102);
	  line-height: 1.75;
	  text-align: center;
	  z-index: 41;
	}
	.privacy{
		color: #f57b20;
		span{color: #b6b6b6;}
	}
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }

    .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
	width: 100%;
	}
}

@media (min-width: 1024px){
  .col_lg_12{width: 100%;}
  .col_lg_11{width: 91.53%;}
  .col_lg_10{width: 83.06%;}
  .col_lg_9{width: 74.6%;}
  .col_lg_8{width: 66.13%;}
  .col_lg_7{width: 57.66%;}
  .col_lg_6{width: 49.2%;}
  .col_lg_5{width: 40.73%;}
  .col_lg_4{width: 32.26%;}
  .col_lg_3{width: 23.8%;}
  .col_lg_2{width: 15.33%;}
  .col_lg_1{width: 6.866%;}

	section{
		.prod-wrapper{
			margin: 15px;
			padding: 1%;
		}
	}
 }
