/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 0%;
}
/*  GRID OF TWELVE  */
.col_12 {
  width: 100%;
}
.col_11 {
  width: 91.53%;
}
.col_10 {
  width: 83.06%;
}
.col_9 {
  width: 74.6%;
}
.col_8 {
  width: 66.13%;
}
.col_7 {
  width: 57.66%;
}
.col_6 {
  width: 49.2%;
}
.col_5 {
  width: 40.73%;
}
.col_4 {
  width: 32.26%;
}
.col_3 {
  width: 23.8%;
}
.col_2 {
  width: 15.33%;
}
.col_1 {
  width: 6.866%;
}
body {
  background: #f0f0f0;
  color: #5b5b5b;
  font-family: "Helvetica", Arial, sans-serif;
}
ul {
  list-style: none;
}
div {
  display: block;
}
a {
  text-decoration: none;
}
.container {
  padding-top: 150px;
}
.outer-container {
  margin: 0 5%;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
.new_price {
  color: #ca0000;
  font-weight: bold;
  line-height: .5em;
}
.old_price {
  text-decoration: line-through;
  line-height: .1em;
}
header {
  position: fixed;
  width: 100%;
  margin: auto;
  height: 150px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}
header .header-content {
  border-bottom: 1px solid #dddddd;
}
header .header-content nav img {
  margin: 5%;
}
header .header-content nav .main-nav {
  float: right;
  border-radius: 4px;
  margin-top: 8px;
  padding: 0;
}
header .header-content nav .main-nav a {
  color: #5b5b5b;
  display: block;
  padding: 10px 30px;
  text-decoration: none;
}
header .header-content nav .main-nav li {
  float: left;
}
header .header-content nav .main-nav li:hover a {
  color: #f57b20;
}
.dropdown-nav {
  background: #5f6c76;
  margin: 0;
  position: fixed;
}
.drop-nav {
  display: none;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.drop-nav li {
  padding: 2% 0;
  border-bottom: 1px solid #ccc;
}
.drop-nav a {
  color: #ccc;
}
form {
  margin: -1% 0;
}
input {
  line-height: 2em;
}
.input {
  float: left;
  width: 70%;
}
.search-btn {
  float: left;
  width: 30%;
}
.search-field {
  font-family: "Helvetica";
  color: #ffffff;
  text-align: left;
  width: 100%;
}
.search_button {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #5f6c76;
  width: 150px;
  height: 100%;
  color: #fff;
  margin-left: -6px;
}
section .prod-wrapper {
  background: #ffffff;
  margin: 15px;
  padding: 3%;
}
footer {
  clear: both;
  border-top: 1px solid #dddddd;
  padding: 3% 0;
  text-align: center;
  background: #ffffff;
}
footer .copyright,
footer .privacy {
  font-size: 20px;
  color: #666666;
  line-height: 1.75;
  text-align: center;
  z-index: 41;
}
footer .privacy {
  color: #f57b20;
}
footer .privacy span {
  color: #b6b6b6;
}
.product_button {
  border: 1px solid #d55b00;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, #f56900 0%, #ff8f3b 100%);
  background-image: -webkit-linear-gradient(90deg, #f56900 0%, #ff8f3b 100%);
  background-image: -ms-linear-gradient(90deg, #f56900 0%, #ff8f3b 100%);
  color: #fff;
  width: 100%;
  height: 58px;
}
.view_more_button {
  border: 2px solid #4d575f;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, #5f6c76 0%, #8293a1 100%);
  background-image: -webkit-linear-gradient(90deg, #5f6c76 0%, #8293a1 100%);
  background-image: -ms-linear-gradient(90deg, #5f6c76 0%, #8293a1 100%);
  box-shadow: 0px 2px 2px 0px rgba(2, 3, 3, 0.4);
  color: #fff;
  font-size: 1.5em;
  width: 50%;
  height: 72px;
  margin: 2% 25%;
}
@media (min-width: 1024px) {
  .col_lg_12 {
    width: 100%;
  }
  .col_lg_11 {
    width: 91.53%;
  }
  .col_lg_10 {
    width: 83.06%;
  }
  .col_lg_9 {
    width: 74.6%;
  }
  .col_lg_8 {
    width: 66.13%;
  }
  .col_lg_7 {
    width: 57.66%;
  }
  .col_lg_6 {
    width: 49.2%;
  }
  .col_lg_5 {
    width: 40.73%;
  }
  .col_lg_4 {
    width: 32.26%;
  }
  .col_lg_3 {
    width: 23.8%;
  }
  .col_lg_2 {
    width: 15.33%;
  }
  .col_lg_1 {
    width: 6.866%;
  }
  section .prod-wrapper {
    margin: 15px;
    padding: 1%;
  }
}
