/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
}
.col:first-child {
  margin-left: 0;
}
/*  GRID OF TWELVE  */
.col_12 {
  width: 100%;
}
.col_11 {
  width: 91.53%;
}
.col_10 {
  width: 83.06%;
}
.col_9 {
  width: 74.6%;
}
.col_8 {
  width: 66.13%;
}
.col_7 {
  width: 57.66%;
}
.col_6 {
  width: 49.2%;
}
.col_5 {
  width: 40.73%;
}
.col_4 {
  width: 32.26%;
}
.col_3 {
  width: 23.8%;
}
.col_2 {
  width: 15.33%;
}
.col_1 {
  width: 6.866%;
}
ul {
  list-style: none;
}
.outer-container {
  margin: 0 5%;
}
header {
  width: 100%;
  margin: auto;
  height: 130px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ddd;
}
header nav img {
  margin: 5%;
}
header nav ul {
  display: inline;
}
header nav ul li {
  display: inline-block;
  padding: 5% 10%;
}
section {
  background: #f0f0f0;
}
section .products {
  padding: 3%;
}
section .products .prod-wrapper {
  background: #fff;
  margin: 2% 2% 2% 3%;
  padding: 6%;
  width: 33%;
}
footer {
  clear: both;
  padding: 3% 0;
  text-align: center;
  background: #fff;
}
footer .copyright {
  padding-bottom: 1%;
}
.product_button {
  border: 1px solid #d55b00;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, #f56900 0%, #ff8f3b 100%);
  background-image: -webkit-linear-gradient(90deg, #f56900 0%, #ff8f3b 100%);
  background-image: -ms-linear-gradient(90deg, #f56900 0%, #ff8f3b 100%);
  color: #fff;
  width: 100%;
  height: 58px;
}
.view_more_button {
  border: 2px solid #4d575f;
  border-width: 2px;
  border-radius: 5px;
  background-image: -moz-linear-gradient(90deg, #5f6c76 0%, #8293a1 100%);
  background-image: -webkit-linear-gradient(90deg, #5f6c76 0%, #8293a1 100%);
  background-image: -ms-linear-gradient(90deg, #5f6c76 0%, #8293a1 100%);
  box-shadow: 0px 2px 2px 0px rgba(2, 3, 3, 0.4);
  color: #fff;
  font-size: 1.75em;
  width: 50%;
  height: 72px;
  margin: 2% 25%;
}
@media (min-width: 641px) {
  body {
    background: red;
  }
}
